/* 變數 */
:root {
    --mycolor01: #F2DD66;
    --mycolor02: #9A1B27;
    --mycolor03: #747BA9;
    --mycolor04: #3B3857;
    --mycolor05: #efc638;
    --mycolor06: #416eb6;
    --mycolor07: #715ca8;
    --mycolor08: #2b103b;

    
    --textcolor01: #a3a2a2;
    --textcolor02: #ffffff;

}